<div class="container-fluid" id="events-list">
{% for events in eventsCollection %}
    <div class="row-fluid event-container">
        <article id="{{ "event" ~ events.id}}" class="span12 event">
            <h3>from {{ events.timestampStart | date("Y-m-d") }} to {{ events.timestampEnd | date("Y-m-d") }} at {{ events.city }}</h3>
            <section>{{ events.description }}</section>
        </article>
    </div> 
{% endfor %}
</div>